@model FysioRoadmap.Models.Afspraak

@{
    ViewBag.Title = "Afspraak";
}

<h2>Details</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerzekerdeSet.NaamVerzekerde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerzekerdeSet.NaamVerzekerde)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
